.MainSlider {}

.slider1{
    height: 400px;
}
.slider2{
    height: 200px;
}
@media only screen and (max-width: 600px) {
    .slider1{
        height: 150px;
    }
    .slider2{
        height: 75px;
    }
}